{{ define "layout" }}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/app.css">
    
    <script src="/static/js/libs/three.min.js"></script>
    <script src="/static/js/libs/OrbitControls.js"></script>
    <script src="/static/js/libs/chart.umd.min.js"></script>
    
    <script src="/static/js/api.js" defer></script>
    <script src="/static/js/app.js" defer></script>
  </head>
  <body>
    {{ template "header" . }}
    <main>
      {{ block "content" . }}{{ end }}
    </main>
    <footer class="footer">
      FlowModel © 2026
    </footer>
  </body>
</html>
{{ end }}